@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@400;500;600;700;800&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
body{
    width: 91%;
    margin: 0 auto;
}

.section{
    padding: 4px;
}
.section h1{
    font-size: 3.2rem;
    font-weight: 600;
    text-align: center;
    font-family: 'Fraunces', sans-serif;
    padding-top: 50px;
    padding-bottom: 30px;
}

/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 0;
    box-shadow: 0 7px 5px 5px rgba(0,0,0,0.3);
    font-family: 'Fraunces', sans-serif;
}
.navbar ul{
    display: flex; 
    gap: 5rem;
    margin-left: 30rem;
 }
 .nav-links{
    font-size: 1.2rem;
    color: black;
    font-family: 'Fraunces', sans-serif;
 }
 .nav-links:hover{
    color: #ec1127;
    transition: background-color .3s ease;
 }
 .navbar span{
    font-weight: 700;
    font-size: 2rem;
    font-family: 'Fraunces', sans-serif;
    color: #b02a37;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
button{
    border: none;
    outline: none;
}
.navbar button{
    background-color: #dc3545;
    padding: 0.8rem 1.85rem;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 5px;
}
.navbar button a{
    color: #fff;
    font-family: 'Fraunces', sans-serif;
}
.navbar button:hover{
    background-color: #bb2d3b;
    border-color: #b02a37;
    box-shadow: 0 0 0 0.25rem rgb(225 83 97 / 50%);
    transition: background-color .3s ease;
}

/* hero section */
.hero-section{
    width: 100vw;
    min-height: 100vh;
    position: relative;
}

/* hero video */
.video-wrap{
    width: 90%;
}
.hero-section video{
    width: 100%;
    /* height: 100%; */
}

/* video overlay */
.overlay{
    background-color: rgba(0,0,0,0.4);
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* hero row */
.row{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
   display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.row .text-container{
    width: 25rem;
    color: #fff;
}
.row .text-container h1{
    font-size: 4.8rem;
    font-weight: 700;
    font-family: 'Fraunces', sans-serif;
    color: #f5d7da;
    margin-bottom: 35px;
}
.feedback{
    margin: 2rem 0 0.6rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.feedback h2{
    font-size: 30px;
    font-weight: 600;
    color: #d9c5c7;
}
.feedback h4{
    font-size: 1.75rem;
    font-weight: 600;
}
.text-container p{
    font-size: 24px;
}

.feedback .star-icons .fa-star{
    color:#f3af24;
    font-size: 1rem;
}

/* about */
.grid-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1px;
    padding: 50px 0;
}
.col .video-wrap{
    width: 100%;
}
.col .video-wrap video{
    width: 90%;
    height: 100%;
    border-radius: 10px;
}
.content p{
    font-size: 23px;
    margin-top: 30px;
    line-height: 35px;
    margin-right: 20px;
    color: #4c3030;
}
.content b{
    color: #b02a37;
}
.about h1{
    color: #b02a37;
}

/* Gallery */
/* .grid-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1px;
    padding: 50px 0;
} */
.gallery h1{
    color: #b02a37;
    box-shadow: 0 7px 5px 5px rgba(214, 121, 121, 0.3);
}
.col .img-wrap{
    width: 100%;
}
.col .img-wrap img{
    width: 90%;
    height: 100%;
    margin: 25px;
    border-radius: 10px;
}
.text-box h1{
    color: #c23544;
    font-family: 'Fraunces', sans-serif;
    padding-top: 15rem;
    font-size: 40px;
    margin: 10px 20px 0;
}
.content p{
    font-size: 23px;
    margin-top: 30px;
    line-height: 30px;
    margin-right: 20px;
}

/* album section */
.album{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.album img{
    width: 100%;
    height: 85%;
}

/* copyright */
.copyright{
    width: 100%;
    text-align: center;
    padding: 10px 15%;
    background: #c4b5b5;
    font-weight: 300;
    margin-top: 1px;
    color: black;
}
.copyright i{
    color: #b02a37;
}


/* CSS for small screen */
nav .fa-solid{
    display: none;
}
@media only screen and (max-width:600px){
    /* navbar styles */
    .navbar{
        flex-direction: column;
        justify-content: center;
    }
    .navbar ul{
        flex-direction: column-reverse;
        display: unset;
        margin-left: unset;
        background: #d7b5b5;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    .navbar ul li{
        margin: 40px 5px;
    }
    .navbar ul li:hover{
        background-color: #fff;
    }
    .navbar .fa-solid{
        display: block;
        font-size: 25px;
    }
    .fa-xmark{
        margin-left: 130px;
        color: #bb2d3b;
    }
    .fa-bars{
        position: absolute;
        top: 30px;
        right: 20px;
        color: #bb2d3b;
    }
    .navbar span{
        margin-left: 0;
        font-size: 1.5rem;
    }
    .navbar button{
        margin-top: 35px;
        margin-bottom: 10px;
    }
    /* body styles */
    .grid-box{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 1px;
        padding: 50px 0;
    }
    .row .text-container h1{
        font-size: 60px;
        padding-top: 28px;
    }
    .text-container p{
        margin-top: -12px;
        font-size: 18px;
    }
    .feedback h4{
        font-size: 18px;
    }
    .about h1{
        font-size: 35px;
        margin-bottom: -30px;
        margin-top: 20px;
    }
     .content p{
        font-size: 18px;
        line-height: 28px;
        margin-left: 20px;
    }
    .gallery h1{
        font-size: 40px;
    }
    .text-box h1{
        font-size: 20px;
        padding-top: 10px;
    }
    .copyright{
        font-size: 11px;
    }
    .album{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
}

/* For tablet */
/* @media only screen and (max-width:800px){
    .navbar{
        flex-direction: column;
        justify-content: center;
    }
    .navbar ul{
        flex-direction: column-reverse;
        display: unset;
        margin-left: unset;
        background: #d7b5b5;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    .navbar ul li{
        margin: 40px 5px;
    }
    .navbar ul li:hover{
        background-color: #fff;
    }
    .navbar .fa-solid{
        display: block;
        font-size: 25px;
    }
    .fa-xmark{
        margin-left: 130px;
        color: #bb2d3b;
    }
    .fa-bars{
        position: absolute;
        top: 30px;
        right: 20px;
        color: #bb2d3b;
    }
    .navbar span{
        margin-left: 0;
        font-size: 2rem;
    }
    .navbar button{
        margin-top: 35px;
        margin-bottom: 10px;
    
}
} */













